[submodule "Submodules/My-Wallet"]
	path = Submodules/My-Wallet
	url = git@github.com:blockchain/My-Wallet.git
[submodule "Submodules/OpenSSL-for-iPhone"]
	path = Submodules/OpenSSL-for-iPhone
	url = git@github.com:x2on/OpenSSL-for-iPhone.git
