Package: com.rainydayapps.blockchain
Name: Blockchain
Version: 1.1
Architecture: iphoneos-arm
Description: The official blockchain.info iPhone app.
Homepage: http://blockchain.info/wallet
Maintainer: Ben Reeves
Author: Ben Reeves
Sponsor: blockchain.info
Section: Apps
